#home{
    background: url(images/Main\ visual.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

section{
    height: 100vh;
}

.custom-col{
    margin-top: 25%;
}

i{
    color: white;
}

#main-nav{
    background-color: transparent;
    position: absolute;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    
}


.nav-link {

    color: white;
}

.nav-link-hs {
    color: rgb(105, 178, 153);
}
.navbar-brandh {
    color: white;
}

.display-2{

    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20%;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Georgia, serif; 
}
   
.Tag-line {

    color: rgb(0, 0, 0);
    font-family:Garamond, serif;
    font-weight: bolder;
    font-size: 36px;
    display: flex;
    padding-top: 1%;
    text-align: center;
    justify-content: center;
    padding-left: 28px;  
   
}


.mid-text-h2 {
    display: grid;
    text-align: center;
    padding: 40px;
    font-family:sans-serif;
    font-weight: bold;
    font-size:xx-large;
    letter-spacing: 1px;
}
/* Destination section properties*/

.list-unstyled{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 1.875em;
    position: absolute;
    top: 230%;
    bottom: 20%;
    left: 3%;
   
}
   


   

/* Footer Properties*/

/* Button colour change- if take off the primary/ secondary tag this css works  */
/* Need to overide bootstrap styling- important! or inline? */

.footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    


}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media (max-width: 767.98px) {
.card .img-fit {
    aspect-ratio: 1.45 / 1;
}
}
    
 .button-element {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 45px;
 }

 .button {
    padding: 10px 45px;
    font-size: 1rem;
    transition: all .2s ease-in-out;
 }
 
 .button-1 {
    border-radius: 50px;
    border: 1px solid crimson;
    background-color: crimson;
    color: white
 }

.button-1:hover {
    background-color: crimson;
    color: white
}

