#home{
    background: url(images/Main\ visual.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

section{
    height: 100vh;
}

.custom-col{
    margin-top: 25%;
}

i{
    color: white;
}

#main-nav{
    background-color: transparent;
}


.nav-link {

    color: white;
}

.navbar-brandh {
    color: white;
}

.display-3{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:fantasy;
}
   
.Tag-line {

    color: white;
    display: flex;
}
    


   