#home{
    background: url(images/Main\ visual.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

section{
    height: 100vh;
}

.custom-col{
    margin-top: 25%;
}

i{
    color: white;
}

#main-nav{
    background-color: transparent;
}


.nav-link {

    color: white;
}

.navbar-brandh {
    color: white;
}

.display-3{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:fantasy;
}
   
.Tag-line {

    color: white;
    display: flex;
}
    
/* Destination section properties*/

.list-unstyled{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 1.875em;
    position: absolute;
    top: 120%;
    bottom: 20%;
    left: 3%;
   
}
   


   

/* Footer Properties*/

/* Button colour change- if take off the primary/ secondary tag this css works  */

.btn-primary {

    background:#D3E3D3 ;

}






